* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-image: url('https://img.freepik.com/free-vector/realistic-technology-particle-background_23-2148409680.jpg?t=st=1729938288~exp=1729941888~hmac=d607fa97324166afc20246614aec5a188788bbe21b0ce47460be791331ac43c9&w=900');
}

#app {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #92cedc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
  color: #333333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.success-message {
  margin-top: 15px;
  color: #4CAF50;
  font-weight: bold;
  display: none;
}
